{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR Dashboard</title>
    <link rel="stylesheet" href="{% static 'assets/css/dashboard.css' %}">
</head>
<body>
    <div id="root">
        </div>
    
    <script>
        const CONFIG = {
            COMPANY_BRAND: "ABC INC"
        };
    </script>
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
</body>
</html>